@model Articles.Models.ArticlesComponentModel


@{
    ViewData["Title"] = "Articles - Glenn Nicoll";
}

<section class="articles-section">
        @Html.Partial("/Views/Components/Articles.cshtml", Model)
</section>
